

<div class="col-md-12">

<div class="col-md-4 text-center">
<br/>
<%= render 'sidebar' %>

</div>

<div class="col-md-8">

<h2>
  <%= @profile.display_name || @profile.username %>
</h2>
<hr/>
<div>
<ul class="nav nav-pills" id="myTabs">
  <li ><a href="<%= vanity_profile_url(@profile.slug) %>" >
    <i class="glyphicon glyphicon-upload" ></i> Uploads
  </a></li>
  <li class="active"><a href="#about" data-toggle="tab">
  <i class="glyphicon glyphicon-info-sign" ></i> About
  </a></li>
  <li><a href="<%= listens_profile_url(@profile.slug) %>" >
  <i class="glyphicon glyphicon-headphones" ></i> Listens
  </a></li>
  <li class=""><a href="<%= user_favorites_path(@profile.slug) %>" ><i class="glyphicon glyphicon-heart" ></i> Favorites</a></li>


</ul>
</div>

<br/>

<div class="well">

  <%= simple_format(@profile.bio) %>
</div>

<p>

  <%= link_to  @profile.website, "http://#{@profile.website}", target: "_blank" %>
</p>


</div>
</div>



</div>


