
<div class="col-md-12">

<div class="col-md-4 text-center">
<br/>
<p class="">
  <%= image_tag @profile.image.url(:square) || "http://res.cloudinary.com/narration/image/upload/v1452630234/Narrated_Square_uixyok.png", class: "img-responsive img-circle text-center" %>
</p>

   
  <% if user_signed_in? %>
    <% if current_user.try(:admin?) || current_user == @profile.user %>
        <%= link_to 'Edit', edit_profile_path(@profile), class: "btn btn-block btn-default" %>
    <% end %>
  <% end %> 
  <br/>
  <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><i class="glyphicon glyphicon-share-alt"></i>  Share </h3>
        </div>
        <div class="panel-body">

      <ul class="nav social" style="padding-left:40px;">
        <li style="postion:absolute; top:-6px;"><%= like_button("1440239169528450", send: true, :url => vanity_profile_url(id: @profile.user.name), layout: :button) %></li>
        <li><%= tweet_button(count: 'inline', :url => vanity_profile_url(id: @profile.user.name), via: "narrated_org", text: @profile.display_name) %></li>
        </ul>

      </div>
    </div>

</div>

<div class="col-md-8">

<h2 class="">
  <%= @profile.display_name || @profile.username %>
</h2>
<hr/>
<div>
<ul class="nav nav-pills" id="myTabs">
  <li class="active"><a href="<%= vanity_profile_url(@profile.slug) %>" >
    <i class="glyphicon glyphicon-upload" ></i> Uploads
  </a></li>
  <li><a href="<%= about_profile_url(@profile.slug) %>" >
  <i class="glyphicon glyphicon-info-sign" ></i> About
  </a></li>
  <li ><a href="<%= listens_profile_url(@profile.slug) %>" >
  <i class="glyphicon glyphicon-headphones" ></i> Listens
  </a></li>
  <li class=""><a href="<%= user_favourites_path(@profile.slug) %>" ><i class="glyphicon glyphicon-heart" ></i> Favourites</a></li>

</ul>
</div>

<br/>

  <%= render 'shared/posts', :posts => @posts %>



</div>



</div>


