
<div class="col-md-12">

<div class="col-md-4 text-center">
<br/>
<p class="">
  <%= image_tag @profile.image.url(:square), class: "img-responsive img-circle text-center" %>
</p>

   
  <% if user_signed_in? %>
    <% if current_user.try(:admin?) || current_user = @profile.user %>
<%= link_to 'Edit', edit_profile_path(@profile), class: "btn btn-block" %>
<% end %>
<% end %> 

</div>

<div class="col-md-8">

<h1>
  <%= @profile.display_name || @profile.username %>
</h1>
<p>
<ul class="nav nav-tabs" id="myTabs">
  <li class="active"><a href="#uploads" data-toggle="tab">
    <i class="glyphicon glyphicon-upload" ></i> Uploads
  </a></li>
  <li><a href="#about" data-toggle="tab">
  <i class="glyphicon glyphicon-info-sign" ></i> About
  </a></li>

</ul>
</p>
<div id="myTabContent" class="tab-content">
  <div class="tab-pane fade active in" id="uploads">
<br/>


<ul class="posts">
		<% @profile.user.posts.each do |post| %>
			<li class="well">
          <%= link_to image_tag(post.image.url(:thumb), class: "img-thumbnail pull-left", style: "margin-right: 10px;"), user_post_path(id: post, user_id: post.user.name) %>
          <h3>
            <%= link_to truncate(post.title, :length => 40), user_post_path(id: post, user_id: post.user.name) %>
            <br/>
          <small>
            via <%= link_to post.user.profile.display_name, vanity_profile_path(:id => post.user.profile) %>
          </small>
          </h3>
          </li>
	    <% end %>
</ul>

</div>
<div class="tab-pane fade " id="about">
<br/>

<p class="well">

  <%= @profile.bio %>
</p>

<p>
  <strong>Website:</strong>
  <%= @profile.website %>
</p>

<p>
  <strong>Twitter:</strong>
  <%= @profile.twitter %>
</p>

</div>

</div>
</div>



</div>


