<h3>User</h3>
<p>Name: <%= link_to @user.name, vanity_profile_path(id: @user.profile.slug) %></p>
<p>Email: <%= @user.email if @user.email %></p>


<p>Last Login: <%= @user.last_sign_in_at %></p>
<p>Login Count: <%= @user.sign_in_count %></p>
<p>Last IP: <%= @user.last_sign_in_ip %></p>

