<ul class="posts">
		<% @posts.order('plays DESC').each_with_index do |post, index| %>

<% if params[:page].nil? || params[:page] == "0" || params[:page] == "1" %>
    <% x = 0 %>
  <% else %>
    <% page = params[:page].to_i - 1 %>
    <% x = page * 5 %>
<% end %>


			<li class="panel">

      <span class="pull-right hidden" style="margin-right:25px;" >
      <h2><%= index+x+1 %></h2>
    </span>

        <div class="panel-body">
          <%= link_to cl_image_tag(post.image.url(:thumb) || post.user.profile.image.url(:thumb) || "http://res.cloudinary.com/narration/image/upload/v1450280814/Screen_Shot_2015-12-16_at_16.35.58_cbntzj.png",  :crop => :scale , class: "img-thumbnail pull-left", style: "margin-right: 10px; width:100px;"), user_post_path(id: post, user_id: post.user.name) %>
  
         
      <h4>
        <%= link_to truncate(post.title, length: 45), user_post_path(id: post, user_id: post.user.name) %>
        <br/>
      </h4>

      <p>
        <%= truncate(post.summary, :length => 140) %>
      </p>

          <h5 class="hidden">
          <% unless post.author.blank? %>
     
            by <%= link_to post.author, author_path(author: post.author) %> 
          <% end %> 
          <% unless post.provider.blank? %>
         
            on <%= link_to post.provider, provider_path(provider: post.provider) %>
    

          <% end %>
                </h5>

      <h6 class="hidden">
      via   <%= link_to post.user.profile.display_name, vanity_profile_path(:id => post.user.profile.slug) %>
      </h6>

      <h5>
          <label class='label label-primary'><i class="glyphicon glyphicon-play" ></i> <%= pluralize(post.plays, 'play') %>
  			</label>&nbsp;
          <%  post.tags.limit(5).each do |tag| %>
			  <label class="label label-default">
			  <i class="glyphicon glyphicon-tag" ></i>&nbsp;
			  <%= link_to "##{tag}", tag_path(tag: tag.name), :class=>"white"%></label>&nbsp;
			<% end %>
			</h5>
      </div>
          </li>
	    <% end %>
	    </ul>
   <%= paginate @posts %>