<%= simple_form_for(@post) do |f| %>
  <%= f.error_notification %>


  <div class="col-md-12  row">
      <div class="col-md-6">
        <div class="form-inputs">
          <%= f.input :title, as: :hidden %>
          <%= f.input :url %>
          (URL to original content)
          <br/>
          <%#= f.label :audio %>
          <%#= f.file_field :audio %>
          <br/>
          <%= f.label :image %>
          <%= f.file_field :image %>

          <br/>
          <%= f.input :audio_link %> (URL to mp3 file)
          <br/>
          <br/>
          <%= f.input :summary, placeholder: "Describe this post here..." %>
          <br/>
          <%= f.label :tags %>
          <%= f.text_field :tag_list, :onfocus=>"this.value='';", :value=> @post.tags.map(&:name).join(","), :class=>"form-control", placeholder: "e.g. tag1, tag2, tag3" %>
        </div>
      </div>
       <div class="col-md-6">
          <% if user_signed_in? %>
          <% if current_user.try(:admin?) %>
          <div class="form-inputs well">
            <%= f.input :title %>
            <%= f.input :slug, as: :hidden %>
            <%= f.input :plays%>
             <%#= f.label :banner %>
            <%#= f.file_field :banner %>
            <br/>
            
            <%= f.input :hidden %>
            <%= f.input :featured %>
            <%= f.input :html %>
            <%= f.input :body %>
            <%= f.input :user_id %>
          </div>
        <% end %>
        <% end %>
  </div>
</div>

<br/>
      <hr/>

  <div class="form-actions pull-left">
       <br/>
    <%= f.button :submit %>
  </div>
<% end %>