
		<div class="alert alert-dismissible alert-success hidden">
			  <button type="button" class="close" data-dismiss="alert">x</button>
			  <h5 class="white"><a href="<%= feedback_url %>" class="alert-link"><strong>Please leave us some feedback on narrated.org here.</strong></a></h5>
			</div>

		<% unless current_user %>


		<div class="alert alert-dismissible alert-info">
			  <button type="button" class="close" data-dismiss="alert">x</button>
			  <h5 class="white"><a href="<%= new_user_registration_path %>" class="alert-link"><strong>Signup</strong></a> to start saving your listens and favorites to your profile.</h5>
			</div>
			<% end %>

		<div class="panel" style="padding:10px;">
			<div id="wufoo-z7gredf04030nv">
				Fill out my <a href="https://narrated.wufoo.com/forms/z7gredf04030nv">online form</a>.
				</div>

				<script type="text/javascript">var z7gredf04030nv;(function(d, t) {
				var s = d.createElement(t), options = {
				'userName':'narrated',
				'formHash':'z7gredf04030nv',
				'autoResize':true,
				'height':'356',
				'async':true,
				'host':'wufoo.com',
				'header':'show',
				'ssl':true};
				s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'www.wufoo.com/scripts/embed/form.js';
				s.onload = s.onreadystatechange = function() {
				var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
				try { z7gredf04030nv = new WufooForm();z7gredf04030nv.initialize(options);z7gredf04030nv.display(); } catch (e) {}};
				var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
				})(document, 'script');</script>
		</div>

		<div class="panel panel-default hidden">
			  <div class="panel-heading">
			    <h3 class="panel-title"><%= link_to "Featured", featured_path %> </h3>
			  </div>
			  <div class="panel-body">

			<ul class="nav" style="padding-left:40px;">
			  <% @featured[0..2].each do |post| %>
			  	<%= link_to image_tag(post.image.url(:featured), class: "img-responsive"),  user_post_path(id: post, user_id: post.user.name)
			  	 %>
			  <% end %>
			  </ul>

			</div>
		</div>


		<div class="panel panel-default hidden">
			  <div class="panel-heading">
			    <h3 class="panel-title">Latest Listeners </h3>
			  </div>
			  <div class="panel-body">
			  
			<% @listens.limit(10).each do |listen| %>

		        <span data-toggle="tooltip" data-placement="top" title="<%= listen.user.profile.display_name %>" >
		        <%= link_to image_tag(listen.user.profile.image.url(:listener), class: "img-circle"), vanity_profile_path(id: listen.user.name)  %>
		        </span> 
		      
		      <% end %>
		   
		      </ul>
			</div>
		</div>



		<div class="panel panel-default">
			  <div class="panel-heading">
			    <h3 class="panel-title">Trending Tags</h3>
			  </div>
			  <div class="panel-body">
	
	 <% @top.each do |tag| %>
	 	<label class="label label-default " style="font-size:14px; margin-right: 5px;">
			  <i class="glyphicon glyphicon-tag" ></i>&nbsp; 
			  <%= link_to "#{tag}", tag_path(tag: tag.name), :class=>"white"%></label>&nbsp;
	 <% end %>
	 </div>
	 </div>

	 	<div class="panel text-center ad">
			<br/>
			<img src="https://placebear.com/300/250" />
			<br/>
			<br/>
		</div>


	 <div class="" >
			<a class="twitter-timeline transparent" data-dnt="true" href="https://twitter.com/narrated_org" data-widget-id="685219988651794437">Tweets by @narrated_org</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

		</div>
		<br/>
