
		<% unless current_user %>
		<div class="alert alert-dismissible alert-info">
			  <button type="button" class="close" data-dismiss="alert">x</button>
			  <h5 class="white"><a href="<%= new_user_registration_path %>" class="alert-link"><strong>Signup</strong></a> to start saving your listens and favourites <a href="<%= new_user_registration_path %>" class="alert-link"><strong>here</strong></a>.</h5>
			</div>
			<% end %>

		<div class="panel panel-default hidden">
			  <div class="panel-heading">
			    <h3 class="panel-title"><%= link_to "Featured", featured_path %> </h3>
			  </div>
			  <div class="panel-body">

			<ul class="nav" style="padding-left:40px;">
			  <% @featured[0..2].each do |post| %>
			  	<%= link_to image_tag(post.image.url(:featured), class: "img-responsive"),  user_post_path(id: post, user_id: post.user.name)
			  	 %>
			  <% end %>
			  </ul>

			</div>
		</div>




		<div class="panel panel-default hidden">
			  <div class="panel-heading">
			    <h3 class="panel-title">Latest Listeners </h3>
			  </div>
			  <div class="panel-body">
			  
			<% @listens.limit(10).each do |listen| %>

		        <span data-toggle="tooltip" data-placement="top" title="<%= listen.user.profile.display_name %>" >
		        <%= link_to image_tag(listen.user.profile.image.url(:listener), class: "img-circle"), vanity_profile_path(id: listen.user.name)  %>
		        </span> 
		      
		      <% end %>
		   
		      </ul>
			</div>
		</div>



		<div class="panel panel-default">
			  <div class="panel-heading">
			    <h3 class="panel-title">Trending Tags</h3>
			  </div>
			  <div class="panel-body">
	
	 <% @top.each do |tag| %>
	 	<label class="label label-default pull-left" style="font-size:14px; margin-right: 5px;">
			  <i class="glyphicon glyphicon-tag" ></i>&nbsp; 
			  <%= link_to "##{tag}", tag_path(tag: tag.name), :class=>"white"%></label>&nbsp;
	 <% end %>
	 </div>
	 </div>
