<div class="miniembed">
  

      <div id="jquery_jplayer_audio_1" class="jp-jplayer "></div>

<div id="jp_container_audio_1" class="jp-flat-audio" role="application" aria-label="media player" style="">
  <div class="jp-play-control jp-control">
    <button class="jp-play jp-button" role="button" aria-label="play" tabindex="0"></button>
      <button class="jp-pause jp-button" role="button" aria-label="pause" tabindex="0" onclick=""><i class="fa fa-pause" style="top: 15px; position: absolute; left: 18px;"></i></button>
  </div>
  <div class="jp-bar" style="margin-right:70px;">
    <div class="jp-seek-bar jp-seek-bar-display" ></div>
    <div class="jp-seek-bar" >
      <div class="jp-play-bar"></div>
      <div class="jp-details">
        <div class="jp-title" aria-label="title">&nbsp; <%= truncate(@post.title, length: 20 ) %></div>
        </div>
      <div class="jp-timing" ><span class="jp-duration" role="timer" aria-label="duration"></span>

      </div>
      

    </div>
   
  </div>
   <div class="pull-right" style="padding:5px; background-color:white; height:70px;">
        <h4 style="margin-bottom:0px;">
      <%= link_to image_tag("https://res.cloudinary.com/narration/image/upload/t_media_lib_thumb/v1452798308/Screen_Shot_2016-01-14_at_19.04.35_uo5qez.png", style: "width:60px; "), root_path, class: '', target: "_blank" %>

           
       </h4>
    </div>
  
  <div class="jp-no-solution">
    Media Player Error<br />
    Update your browser or Flash plugin
  </div>
</div>

      


  
</div>

<div class="bigembed panel" style="margin:5px; padding:5px;">

<div class="panel-body">
          <%= link_to cl_image_tag(@post.image.url(:square) || @post.user.profile.image.url(:thumb) || "http://res.cloudinary.com/narration/image/upload/v1450280814/Screen_Shot_2015-12-16_at_16.35.58_cbntzj.png",  :crop => :scale , class: " pull-left", style: "margin-right: 10px; margin-bottom: 0px; width:125px;"), user_post_path(id: @post, user_id: @post.user.name), target: "_blank" %>
  
         
      <h4>
        <%= link_to truncate(@post.title, length: 45), user_post_path(id: @post, user_id: @post.user.name), target: "_blank" %>
      </h4>

          <h5 class="hidden">
          <% unless @post.author.blank? %>
     
            by <%= link_to @post.author, author_path(author: @post.author), target: "_blank" %> 
          <% end %> 
          <% unless @post.provider.blank? %>
         
            on <%= link_to @post.provider, provider_path(provider: @post.provider), target: "_blank" %>
          <% end %>
                </h5>

      <h6>
      via   <%= link_to @post.user.profile.display_name, vanity_profile_path(:id => @post.user.profile.slug), target: "_blank" %>
      </h6>

       <h6>
          <label class='label label-success'><i class="glyphicon glyphicon-play" ></i> <%= pluralize(@post.plays, 'play') %>
        </label>&nbsp;
          <%  @post.tags.limit(3).each do |tag| %>
        <label class="label label-default">
        <i class="glyphicon glyphicon-tag" ></i>&nbsp;
        <%= link_to "#{tag}", tag_path(tag: tag.name), :class=>"white", target: "_blank" %></label>&nbsp;
      <% end %>
      </h6>


      <div id="jquery_jplayer_audio_1" class="jp-jplayer row"></div>

<div id="jp_container_audio_1" class="jp-flat-audio" role="application" aria-label="media player" style="margin-top:5px;">
  <div class="jp-play-control jp-control">
    <button class="jp-play jp-button" role="button" aria-label="play" tabindex="0"></button>
      <button class="jp-pause jp-button" role="button" aria-label="pause" tabindex="0" onclick=""><i class="fa fa-pause" style="top: 15px; position: absolute; left: 18px;"></i></button>
  </div>
  <div class="jp-bar">
    <div class="jp-seek-bar jp-seek-bar-display"></div>
    <div class="jp-seek-bar">
      <div class="jp-play-bar"></div>
      <div class="jp-details"><span class="jp-title" aria-label="title"></span></div>
      <div class="jp-timing"><span class="jp-duration" role="timer" aria-label="duration"></span>

      </div>

    </div>
  </div>
  <div class="jp-no-solution">
    Media Player Error<br />
    Update your browser or Flash plugin
  </div>
</div>

      <div class="pull-right" style="margin-top:10px;">
        <a href="<%= root_path %>" target="_blank"><span class="logo-small"></span></a>
    </div>

      </div>



</div>
     


<style type="text/css">




.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}


    button.col-sm-1 {
        height: 40px !important;
    }

#cover {
    position: absolute;
    content: '';
    background-image:url("<%= @post.image.url(:embed_cover) %>"); 
     background-color:white !important; 
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 2;
    background-size:cover;

}

h1 {
    margin-top:0px; 
}

.middle {
  margin: auto !important;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}


</style>

<script type="text/javascript">
    
$(document).ready(function(){



  $('#cover').prepend('<br/><div class="col-md-12"><div style="opacity:0.9;" class="well pull-left clearfix"><div class="pull-left"><h1><i class="icon-control-play i-2x"></i></h1></div><h2><%= truncate(@post.title, length: 20) %> <br/> <small> via <%= @post.user.name %></small></h2></div></div> ')


  $("#jquery_jplayer_audio_1").jPlayer({
    ready: function(event) {
      $(this).jPlayer("setMedia", {
        title: "",
        m4a: "<%=raw @post.audio_link %>"
      });



    },
    play: function() { // Avoid multiple jPlayers playing together.
      $(this).jPlayer("pauseOthers");
       $("#jquery_jplayer_audio_1").jPlayer('play', <%= @post.start_time %>);

       setTimeout(
        function() 
        {
          //do something special
          $.post("/posts/<%= @post.id %>/play");

          //popup share modal
          $('#shareModal').modal('show');

        }, 120000);

    },
    pause: function(){
      $(this).jPlayer('pause');
    },
    timeFormat: {
      padMin: false
    },
    swfPath: "js",
    supplied: "m4a,oga",
    cssSelectorAncestor: "#jp_container_audio_1",
    useStateClassSkin: true,
    autoBlur: false,
    smoothPlayBar: true,
    remainingDuration: true,
    keyEnabled: true,
    keyBindings: {
      // Disable some of the default key controls
      loop: null,
      muted: null,
      volumeUp: null,
      volumeDown: null
    },
    wmode: "window"
  });


        $('.jp-play').on('click', function(e){
          e.preventDefault();
          // $.post("/posts/<%= @post.id %>/play");
          console.log('play');

        });



        

});




</script>





