<h1 class="text-center">Featured - Staff Picks

</h1>
<hr/>

<div class="col-md-12" >
		<% @posts.order('plays DESC')[0..5].each do |post| %>
			<div class="col-md-4">
          <%= link_to image_tag(post.image.url(:square)  || post.user.profile.image.url(:square) || "http://res.cloudinary.com/narration/image/upload/v1450280814/Screen_Shot_2015-12-16_at_16.35.58_cbntzj.png", class: "img-thumbnail img-responsive", style: "margin-right: 10px;"), user_post_path(id: post, user_id: post.user.name) %>
          <h4>
            <%= link_to truncate(post.title, :length => 28), user_post_path(id: post, user_id: post.user.name) %>
            <br/>
          <small>
            via <%= link_to post.user.profile.display_name, vanity_profile_path(:id => post.user.name) %>
          </small>
          </h4>
          <h6>
          <!-- <label class='label label-primary'><i class="glyphicon glyphicon-play" ></i> <%= pluralize(post.plays, 'play') %>
  			</label>&nbsp; -->
          <%  post.tag_list[0..2].each do |tag| %>
			  <label class="label label-default">
			  <i class="glyphicon glyphicon-tag" ></i>&nbsp;
			  <%= link_to "##{tag}", tag_path(tag: tag), :class=>"white"%></label>&nbsp;
			<% end %>
			</h6>
      </div>
	    <% end %>
</div>

<% if current_user != nil %>
<br/>


<div class="text-center col-md-12" style="padding-top: 40px;">
  <p><a href="<%= new_user_registration_url %>" class="btn btn-primary btn-lg btn-block">Signup for More...</a></p>
</div>






<% end %>