
<h1 class="text-center black">
<img src="http://res.cloudinary.com/narration/image/upload/t_media_lib_thumb/v1450280814/Screen_Shot_2015-12-16_at_16.35.58_cbntzj.png" style="width:50px">
	narrated.org
<br/>
<small>narrated news, blogs and stories</small>
</h1>
<hr/>

<div class="col-md-12">
	<div class="col-md-8">


<ul class="nav nav-pills" id="myTabs">
  <li ><a href="<%= root_url %>">
    <i class="glyphicon glyphicon-play" ></i> Popular
  </a></li>
  <li class="active"><a href="<%= latest_url %>" >
  <i class="glyphicon glyphicon-time" ></i> Latest
  </a></li>

</ul>


<div id="myTabContent" class="tab-content">
  <div class="tab-pane fade active in" id="popular">
<br/>

	<%= render 'shared/posts', :posts => @posts %>
	</div>
	<div class="tab-pane fade" id="new">
<br/>
	
	</div>

</div>
	</div>
	<div class="col-md-4">
		<div class="panel panel-default">
			  <div class="panel-heading">
			    <h3 class="panel-title">Share </h3>
			  </div>
			  <div class="panel-body">

			<ul class="nav social" style="padding-left:40px;">
			  <li style="postion:absolute; top:-6px;"><%= like_button("1440239169528450", send: true, :url => root_url, layout: :button) %></li>
			  <li><%= tweet_button(count: 'inline', :url => root_url, via: "") %></li>
			  <li><%= pinit_button %></li>
			  </ul>

			</div>
		</div>

		<div class="panel panel-default">
			  <div class="panel-heading">
			    <h3 class="panel-title"><%= link_to "Featured", featured_path %> </h3>
			  </div>
			  <div class="panel-body">

			<ul class="nav" style="padding-left:40px;">
			  <% @featured.each do |post| %>
			  	<%= link_to image_tag(post.image.url(:featured)),  user_post_path(id: post, user_id: post.user.name)
			  	 %>
			  <% end %>
			  </ul>

			</div>
		</div>

		<div class="panel panel-default">
					  <div class="panel-heading">
					    <h3 class="panel-title">Tags</h3>
					  </div>
					  <div class="panel-body">
			
			 <% @top.each do |tag| %>
			 	<label class="label label-default pull-left" style="font-size:14px; margin-right: 5px;">
					  <i class="glyphicon glyphicon-tag" ></i>&nbsp; 
					  <%= link_to "##{tag}", tag_path(tag: tag.name), :class=>"white"%></label>&nbsp;
			 <% end %>
			 </div>
		 </div>
		
	</div>

</div>



