
<div class="container  clearfix popout">
<br/>
  
<%= link_to cl_image_tag(@post.image.url(:thumb) || "http://res.cloudinary.com/narration/image/upload/v1450280814/Screen_Shot_2015-12-16_at_16.35.58_cbntzj.png",  :crop => :scale , class: "img-thumbnail pull-left    ", style: "margin-right: 10px; width:120px; display: inline-block"), user_post_path(id: @post, user_id: @post.user.name) %>
<h3>
<%= link_to truncate(@post.title, length: 40), user_post_url(user_id: @post.user.profile.slug, id: @post.slug), :target => "_blank" %>
<br/> 
<small>via <%= link_to @post.user.name, vanity_profile_url(id: @post.user.profile.slug) , :target => "_blank" %></small>
</h3>


<h5>
 <label class="label label-primary">

     <i class="glyphicon glyphicon-play"></i> 

     <%= pluralize(@post.plays.to_i, 'play') %>
   </label>&nbsp;
  <% @post.tag_list.each do |tag| %>
      <label class="label label-default"> <i class="glyphicon glyphicon-tag"></i> 
      <%= link_to tag, tag_path(tag), :target => "_blank", class: "white" %></label>
  <% end %>
  </h5>
  <br/>

<div id="jquery_jplayer_audio_1" class="jp-jplayer"></div>

<div id="jp_container_audio_1" class="jp-flat-audio" role="application" aria-label="media player">
  <div class="jp-play-control jp-control">
    <button class="jp-play jp-button" role="button" aria-label="play" tabindex="0"></button>
  </div>
  <div class="jp-bar">
    <div class="jp-seek-bar jp-seek-bar-display"></div>
    <div class="jp-seek-bar">
      <div class="jp-play-bar"></div>
      <div class="jp-details"><span class="jp-title" aria-label="title"></span></div>
      <div class="jp-timing"><span class="jp-duration" role="timer" aria-label="duration"></span>

      </div>

    </div>
  </div>
  <div class="jp-no-solution">
    Media Player Error<br />
    Update your browser or Flash plugin
  </div>
</div>

<div class="pull-right">
    <h4>
  <%= link_to image_tag("http://res.cloudinary.com/narration/image/upload/t_media_lib_thumb/v1450280814/Screen_Shot_2015-12-16_at_16.35.58_cbntzj.png", style: "width:25px;"), root_path, class: '', target: "_blank" %>

      <%= link_to 'narrated.org', root_path, class: 'black', target: "_blank" %> 
   </h4>
</div>

<style type="text/css">




.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}


    button.col-sm-1 {
        height: 40px !important;
    }

#cover {
    position: absolute;
    content: '';
    background-image:url("<%= @post.image.url(:embed_cover) %>"); 
     background-color:white !important; 
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 2;
    background-size:cover;

}

h1 {
    margin-top:0px; 
}

.middle {
  margin: auto !important;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}


</style>

<script type="text/javascript">
    
$(document).ready(function(){





  $("#jquery_jplayer_audio_1").jPlayer({
    ready: function(event) {
      $(this).jPlayer("setMedia", {
        title: "",
        m4a: "<%=raw @post.audio_link %>"
      });
      $("#jquery_jplayer_audio_1").jPlayer('play'); 
      $.post("/posts/<%= @post.id %>/play");
    },
    play: function() { // Avoid multiple jPlayers playing together.
      $(this).jPlayer("pauseOthers");
    },
    timeFormat: {
      padMin: false
    },
    swfPath: "js",
    supplied: "m4a,oga",
    cssSelectorAncestor: "#jp_container_audio_1",
    useStateClassSkin: true,
    autoBlur: false,
    smoothPlayBar: true,
    remainingDuration: true,
    keyEnabled: true,
    keyBindings: {
      // Disable some of the default key controls
      loop: null,
      muted: null,
      volumeUp: null,
      volumeDown: null
    },
    wmode: "window"
  });




        $('.jp-play').on('click', function(e){
          e.preventDefault();
          $.post("/posts/<%= @post.id %>/play");
          console.log('play');

        });



});




</script>





