<% if user_signed_in? %>
	<li class="dropdown pull-right">
	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= image_tag(current_user.profile.image.url(:avatar), class: "img-circle") %> <%= current_user.name %> <span class="caret"></span></a>
	 <ul class="dropdown-menu">
	 <li><%= link_to raw("<i class='glyphicon glyphicon-user' ></i> Profile"), vanity_profile_path(current_user.profile.slug) %></li>
  <li><%= link_to raw("<i class='glyphicon glyphicon-wrench' ></i> Edit Account"), edit_user_registration_path %></li>
  <li><%= link_to raw("<i class='glyphicon glyphicon-log-out' ></i> Sign out"), destroy_user_session_path, :method=>'delete' %></li>
  </ul>
  </li>
<% else %>
  <li class="pull-right"><%= link_to 'Signup', new_user_registration_path %></li>
  <li class="pull-right"><%= link_to 'Login', new_user_session_path %></li>
  
<% end %>
<% if user_signed_in? %>
  <% if current_user.try(:admin?) %>
  	<li class="dropdown pull-right">
	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin <span class="caret"></span></a>
	 <ul class="dropdown-menu">
   <li><%= link_to raw("<i class='glyphicon glyphicon-upload' ></i> Upload"), new_post_path %></li>
    <li><%= link_to raw("<i class='glyphicon glyphicon-briefcase ' ></i> Upmin"), '/admin' %></li>
    <li><%= link_to raw("<i class='glyphicon glyphicon-user' ></i> Users"), users_path %></li>
    </ul></li>
  <% end %>
<% end %>
